<form action="/candidates" method="POST">
  <label for="candidate[name]">Name:</label><br>
  <input type="text" name="candidate[name]" value=""><br>
  <label for="candidate[year]">Year:</label><br>
  <input type="text" name="candidate[year]" value=""><br>
  <input type="submit" value="Submit">
</form>
